
/*css*/




/*for the popup js holder*/
div.shell-game-edit-element-script-holder {
    position: relative;
    width: 100%;
    height: 25vh;
}

#shell-game-edit-element-script {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


div.shell-game-edit-element-glom-trace {
    white-space: nowrap;
}


.shell-name-blurb {
    display: inline-block;
    padding: 0.25em;
    background-color: yellow;
}

.var-name-blurb {
    display: inline-block;
    padding: 0.25em;
    background-color: greenyellow;
}

